<!DOCTYPE html>
<html>
    <head>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <title>Image Classifier web application</title>

        <!-- App's own CSS -->
        <link href="/static/styles.css" rel="stylesheet"/>

    </head>

    <body>
        <h1>Image Classifier web application</h1>
        {% if show_picture %}
            <h2>{{ name }}</h2>
            <img src="{{ picture }}" alt="Uploaded picture of flower">
            <p>{{ description }}</p>
        {% endif %}
        <p>{{ instruction }}</p>
        <form id="picture" action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".jpg" required/>
            <input type="submit" value="Upload"/>
        </form>


    </body>

</html>